<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> This is a template </title>
    <link rel="stylesheet" href="../../css/tailwind.css">
</head>
     <body class="bg-dark overflow-x-hidden w-full h-full relative font-poppins">
    <div id="body22" class="overflow-x-hidden relative overflow-y-hidden"> 
        
        <nav class="navBar">  </nav>
        <div class="w-full font-poppins h-[90vh] bg-dark"> </div>
        

        <div class="footer"> </div>

        </div>
   

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>



<script src="../../Components/navbar.js"></script>
<script src="../../Components/footer.js"></script>
</body>
</html>